input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border-color: #ef4444 !important;
  --tw-ring-color: rgba(239, 68, 68, 0.2) !important;
  box-shadow:
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}
