<nav *ngIf="!isAsesorPage && !isLoginPage" class="bg-white border-b border-gray-100 py-4 px-6">
  <div class="container mx-auto flex items-center justify-between">
    
    <!-- Logo / título -->
    <div class="flex items-center space-x-2 cursor-pointer" [routerLink]="isUserLoggedIn ? (isAdmin ? '/home-admin' : '/home-asesor') : '/login'">
      <img src="assets/LogoOficialVAM.avif" alt="Logo VAM" class="h-10 w-auto object-contain">
    </div>

    <!-- Enlaces de navegación (solo para usuarios autenticados) -->
    <div class="hidden md:flex items-center space-x-10" *ngIf="isUserLoggedIn">
      <ng-container *ngIf="isAdmin">
        <a routerLink="/home-admin" class="text-sm font-medium text-slate-600 hover:text-blue-600 transition-colors">Inicio</a>
        <a routerLink="/hoja-control-admin" class="text-sm font-medium text-slate-600 hover:text-blue-600 transition-colors">Registro Grupal</a>
        <a routerLink="/hoja-control-admin-ind" class="text-sm font-medium text-slate-600 hover:text-blue-600 transition-colors">Registro Individual</a>
        <a routerLink="/mapa-asesores" class="text-sm font-medium text-slate-600 hover:text-blue-600 transition-colors">Mapa Asesores</a>
      </ng-container>

      <ng-container *ngIf="isUser">
        <a routerLink="/home-asesor" class="text-sm font-medium text-slate-600 hover:text-blue-600 transition-colors">Inicio</a>
        <!-- <a routerLink="/hoja-control-asesor" class="text-sm font-medium text-slate-600 hover:text-blue-600 transition-colors"></a> -->
      </ng-container>
    </div>

    <!-- Botones de autenticación y perfil -->
    <div class="flex items-center space-x-8">
      <!-- Botón de iniciar sesión (solo si no está logueado) -->
      <button *ngIf="!isUserLoggedIn" routerLink="/login" class="bg-blue-600 text-white text-sm font-semibold py-2.5 px-6 rounded-full hover:bg-blue-700 transition-all shadow-sm active:scale-95">
        Iniciar Sesión
      </button>


      <!-- Botón de cerrar sesión (solo si está logueado) -->
      <button *ngIf="isUserLoggedIn" (click)="logout()" class="bg-red-500 text-white text-sm font-semibold py-2.5 px-6 rounded-full hover:bg-red-600 transition-all shadow-sm active:scale-95">
        Cerrar Sesión
      </button>
    </div>

  </div>
</nav>